@model ProductGrouping.Models.ProductGroup

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-muted">Create Product Grouping</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductReference" class="control-label"></label>
                <input asp-for="ProductReference" class="form-control" />
                <span asp-validation-for="ProductReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductOwner" class="control-label"></label>
                <input asp-for="ProductOwner" id="productOwner" onblur="getOwnerNameCreate()" class="form-control" />
                <span asp-validation-for="ProductOwner" class="text-danger"></span>
                <div id="productOwnerName"></div>
            </div>          
            <div class="form-group">
                <label class="control-label">Parent Reference</label>
                <select asp-for="ParentId" asp-items="@ViewBag.Products" class="form-control">
                       <option></option>
                </select>              
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
                <div class="text-danger">@ViewBag.UserMessage</div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
